cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.5
packaging==25.0
pdf2image==1.17.0
pdfminer.six==20250506
pdfplumber==0.11.7
pillow==11.3.0
pycparser==2.22
PyMuPDF==1.26.3
pymupdf4llm==0.0.25
pypdfium2==4.30.1
pytesseract==0.3.13
